@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Rubik+Mono+One&display=swap");

.shepherd-theme-custom {
  font-family: "Raleway", sans-serif;
  padding: 20px;
  background-color: #18252c !important;
}
.shepherd-theme-custom .shepherd-content {
  padding: 0px;
}
.t5-card-title {
  font-family: "Rubik Mono One", monospace;
  font-size: 26px;
  font-weight: 400;
  padding: 15px 10px 15px 10px;
  color: #c3f00f;
}
.shepherd-theme-custom .shepherd-text {
  padding: 0px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 15px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.shepherd-theme-custom .shepherd-footer {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shepherd-theme-custom .shepherd-button {
  width: 90%;
  margin: 0px;
  padding: 15px;
  margin: 6px 0px;
  font-size: 14px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.shepherd-theme-custom .t5-button-1 {
  background-color: #c3f00f;
  color: black;
  border: 1px grey solid;
}
.shepherd-theme-custom .t5-button-1:hover {
  background-color: #c3f00f !important;
  color: black !important;
}
.shepherd-theme-custom .t5-button-2 {
  background-color: white;
  color: black;
  border: 1px grey solid;
}
.shepherd-theme-custom .t5-button-2:hover {
  background-color: rgb(240, 240, 240) !important;
  color: black !important;
}
