@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.example {
  width: 100%;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #5e3aee;
  margin-bottom: 30px;
}

.editorSection {
  width: 95%;
  max-height: 600px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  align-items: center;
  margin: 0px auto;
  display: flex;
}
.editor {
  width: 50%;
  background-color: #282c34;
  max-height: 600px;
}

.preview {
  width: 50%;
  position: relative;
  max-height: 600px;
}
.fileNav {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
}
.playGround {
  width: 100%;
  max-height: 560px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.file {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-right: 1px solid grey;
  padding: 0px 15px;
}
.file:hover {
  cursor: pointer;
}
.fileLogo {
  width: 16x;
  height: 16px;
}
.fileName {
  font-size: 12px;
  margin-left: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
}
